
table {
	--table-cell-vertical-alignment: middle;
}

.markdown-rendered th,
.markdown-rendered td {
	height: unset !important;
}

th {
  text-align: center !important;
}

th, td, table .cm-line {
  white-space: nowrap !important;
}
