
table {
	--table-cell-vertical-alignment: middle;
}

.markdown-source-view.mod-cm6 .cm-table-widget tr {
	height: unset;
}

table tr th,
table tr td {
  white-space: nowrap !important;
}

table .cm-line {
  white-space: nowrap;
}
