
/* korea eum */
.hanja td:nth-child(3),
.hanja td:nth-child(3) .cm-line
{
  font-family:
    'Noto Sans Mono CJK KR',
    'Noto Sans Mono CJK JP';
  font-size: 1.5rem;
  min-width: 0rem !important;
}

/* korea glyph */
.hanja td:nth-child(4),
.hanja td:nth-child(4) .cm-line
{
  font-family:
    'Noto Sans Mono CJK KR',
    'Noto Sans Mono CJK JP';
  font-size: 3rem;
  min-width: 0rem !important;
}

/* korea radical */
.hanja td:nth-child(5),
.hanja td:nth-child(5) .cm-line
{
  font-family: 
    'Noto Sans Mono CJK KR',
    'Noto Sans Mono CJK JP';
  font-size: 2rem;
  min-width: 0rem !important;
}

/* japan kyujitai */
.hanja td:nth-child(7),
.hanja td:nth-child(7) .cm-line
{
  font-family:
    'Noto Sans Mono CJK JP';
  font-size: 1.5rem;
  min-width: 0rem !important;
}

/* japan glyph */
.hanja td:nth-child(8),
.hanja td:nth-child(8) .cm-line
{
  font-family:
    'Noto Sans Mono CJK JP';
  font-size: 2rem;
  min-width: 0rem !important;
}
